__pycache__/
*.pyc
*.py[cod]
.env
*.pyo
.DS\_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
db.sqlite3
\*.db
media/
staticfiles/
.vscode/
.venv
venv
toronto-opendata-festivalsandevents-jsonld-proxy/
toronto_docs/